*.pyc
.env
*.png
*.pth
in_refmodel/Vector/main
*.onnx
*.lprof
*.jpg
*.png
*.pdf
*.npy
*.tar
*.c
*.swp
*.swn
*.swo
*.so
cache
.env.sh
repositories
*.png
DeepFloyd

__pycache__/
output/
outputs/
out/
temp/
tmp/
.vscode/
checkpoints/
dev/
.dev/
data/
data/coco/
data/mmdet_checkpoints/
data/yolov5
/testing
/data
/work
*.egg-info/
/hmodelzoo
hmodelzoo/
/hmodel
mqbench
hmodel
model_zoo
*.log
build/
dist/
lightning_logs/
/work_dirs
.history
*.pyc
.env
*.pth
in_refmodel/Vector/main
*.onnx
*.lprof
*.jpg
*.pdf
*.npy
*.tar
*.c
*.swp
*.swn
*.swo
*.so

__pycache__/
output/
outputs/
out/
temp/
tmp/
.vscode/
checkpoints/
dev/
.dev/
data/
data/coco/
data/mmdet_checkpoints/
data/yolov5
/testing
/data
/work
*.egg-info/
/hmodelzoo
hmodelzoo/
/hmodel
mqbench
hmodel
model_zoo
*.log
build/
dist/
*.ipynb
lightning_logs/
/work_dirs
.history
*.pyc
.env
*.pth
in_refmodel/Vector/main
*.onnx
*.lprof
*.jpg
*.pdf
*.npy
*.tar
*.c
*.swp
*.swn
*.swo
*.so

__pycache__/
output/
outputs/
out/
temp/
tmp/
.vscode/
checkpoints/
dev/
.dev/
data/
data/coco/
data/mmdet_checkpoints/
data/yolov5
/testing
/data
/work
*.egg-info/
/hmodelzoo
hmodelzoo/
/hmodel
mqbench
hmodel
model_zoo
*.log
build/
dist/
*.ipynb
lightning_logs/
/work_dirs
plot/
.history
*.npz
*.pb
final_dataset_construct.py
evaluator.py
dit_fast_attention_cfg_ablation.py
evaluation_cfg_ablation.py
run_dit_cfg_ablation.py
/model
model/*